In [1]:
def miles_to_feet(ft):
    return 5280*ft
def test(miles):
    print(str(miles)+"miles equals", str(miles_to_feet(miles)) + " feet.")

In [2]:
test(13)
test(57)
test(82.67)

13miles equals 68640 feet.
57miles equals 300960 feet.
82.67miles equals 436497.60000000003 feet.

### Future value is a common concept used in finance to calculate
### the value of cash flow at a later date and it is computed using the formula

### $F_{value}=C_{0}(1+r)^n$

### Where $C_0$ is the present value, $r$ is the rate of return and $n$ is the number of periods.

In [3]:
def future_value(pv, ar, y):
    return pv*(1+ar/100)**y

In [4]:
def test(present_value,annual_rate,years):
    print("The future value of $ "+ str(present_value)+ " in " + str(years), 
         " years at an annual rate of " + str(annual_rate)+ "% is", " $"+ str(future_value(present_value, annual_rate, years)))

In [5]:
test(1000,7,10)
test(200,4,5)
test(1000,3,20)

The future value of $ 1000 in 10  years at an annual rate of 7% is  $1967.1513572895665
The future value of $ 200 in 5  years at an annual rate of 4% is  $243.33058048000004
The future value of $ 1000 in 20  years at an annual rate of 3% is  $1806.111234669415

### Distance

The distance between two points located at $x_0, y_0$ and $x_1, y_1$ in an plane can be computed using the pythagorean theorem:
$dist=\sqrt{(x_0-x_1)^2 +(y_0-y_1)^2}$

In [6]:
import math

def dist(X0,Y0,X1,Y1):
    return math.sqrt((X0-X1)**2 +(Y0-Y1)**2)
    
def test(x0, y0, x1, y1):
    print("The distance from (" + str(x0) + ", " + str(y0) + ") to ",  " ( " + str(x1) + ", " + str(y1) + ") is",
          str(dist(x0, y0, x1, y1)) + ".")

In [7]:
test(2, 2, 5, 6)
test(1, 1, 2, 2)
test(0, 0, 3, 4)

The distance from (2, 2) to   ( 5, 6) is 5.0.
The distance from (1, 1) to   ( 2, 2) is 1.4142135623730951.
The distance from (0, 0) to   ( 3, 4) is 5.0.

### Heron formula:

The area of a triangle whose sides have lenghts a,b,c is
$A=\sqrt{s(s-a)(s-b)(s-c)}$

where $s$ is the semi-perimeter of the triangle, that is:
$s=\frac{a+b+c}{2}$

In [8]:
def heron(x0,y0,x1,y1,x2,y2):
    a=dist(x0,y0,x1,y1)
    b=dist(x0,y0,x2,y2)
    c=dist(x1,y1,x2,y2)
    s=(a+b+c)/2
    return math.sqrt(s*(s-a)*(s-b)*(s-c))

In [9]:
def test(x0, y0, x1, y1, x2, y2):
    print("A triangle with vertices (" + str(x0) + "," + str(y0) + "),", "(" + str(x1) + "," + str(y1) + "), and",
          "(" + str(x2) + "," + str(y2) + ") has an area of",
          str(heron(x0, y0, x1, y1, x2, y2)) + ".")

In [10]:
test(0, 0, 3, 4, 1, 1)
test(-2, 4, 1, 6, 2, 1)
test(10, 0, 0, 0, 0, 10)

A triangle with vertices (0,0), (3,4), and (1,1) has an area of 0.4999999999999906.
A triangle with vertices (-2,4), (1,6), and (2,1) has an area of 8.5.
A triangle with vertices (10,0), (0,0), and (0,10) has an area of 50.0.

In [11]:
def print_digits(dig):
    tens=dig//10
    ones=dig%10
    print("The tens digits is " +str(tens) + ", and the ones digits is " + str(ones)+ ".")

In [12]:
print_digits(42)
print_digits(99)
print_digits(5)

The tens digits is 4, and the ones digits is 2.
The tens digits is 9, and the ones digits is 9.
The tens digits is 0, and the ones digits is 5.

In [13]:
import random

In [14]:
def powerball():
    print("Today's numbers are "+ str(random.randrange(1,60))+", "+ str(random.randrange(1,60)) +", " +
                                  str(random.randrange(1,60))+", " +str(random.randrange(1,60))+"." )
    print("\nThe Powerball number is " +str(random.randrange(1,36)))
    print("\n")

In [15]:
powerball()
powerball()
powerball()

Today's numbers are 21, 2, 46, 43.

The Powerball number is 17


Today's numbers are 37, 8, 46, 54.

The Powerball number is 4


Today's numbers are 22, 7, 14, 53.

The Powerball number is 29